.DS_Store
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

sitemap.xml
sitemap.xml.gz

.bash_history
.composer/
.rbenv/
.ssh/
error_docs/
etc/
httpdocs/
logs/
httpdocs
.htpasswd

npm-shrinkwrap.json
key/keys.php
*.crop.jpg

.gitconfig
.mysql_history
backup.sh

tmp/
*.log
